<div class="row align-items-center mx-md-5 px-2 px-lg-5 mb-3">
  <div class="col-12 col-md-4">
    <p class="lead fs-4 mb-0 fw-bold text-center text-md-end lh-sm">
      We are currently seeking beta testers for GatherPack!
      If you're interested in learning more, get in touch!
    </p>
  </div>
  <div class="col-6 col-md-4">
    <a href="https://github.com/GatherPack" target="_blank" class="btn btn-primary btn-lg d-block my-3"><i class="fa-brands fa-github"></i> Check Us Out on GitHub</a>
    <a href="https://discord.gg/r3fmNDVn3N" target="_blank" class="btn btn-primary btn-lg d-block my-3"><i class="fa-brands fa-discord"></i> Join the Discord Server</a>
  </div>
  <div class="col-6 col-md-4">
    <a href="#" class="btn btn-primary btn-lg d-block my-3" data-bs-toggle="modal" data-bs-target="#contactModal"><i class="fa-solid fa-message"></i> Contact Us</a>
    <a href="https://calendly.com/sledgehammer/gatherpack-demo-discussion" target="_blank" class="btn btn-primary btn-lg d-block my-3"><i class="fa-solid fa-calendar-days"></i> Schedule a Demo</a>
  </div>
</div>