<div class="d-flex flex-row align-items-center justify-content-around social-links my-5">
  <a href="https://facebook.com/gatherpack" target="_blank" aria-label="Facebook">
    <i class="fa-brands fa-3x fa-facebook"></i>
  </a>
  <a href="https://twitter.com/trygatherpack" target="_blank" aria-label="Twitter">
    <i class="fa-brands fa-3x fa-square-x-twitter"></i>
  </a>
  <a href="https://instagram.com/gatherpack" target="_blank" aria-label="Instagram">
    <i class="fa-brands fa-3x fa-instagram"></i>
  </a>
  <a href="https://github.com/gatherpack" target="_blank" aria-label="GitHub">
    <i class="fa-brands fa-3x fa-github"></i>
  </a>
  <a href="https://discord.gg/r3fmNDVn3N" target="_blank" aria-label="Discord">
    <i class="fa-brands fa-3x fa-discord"></i>
  </a>
</div>