<div class="logoline">Get Together with <%= image_tag( 'logo.svg', alt: 'GatherPack', class: 'logo') %> GatherPack</a></div>
<div class="col-lg-6 mx-auto text-center">
  <p class="lead mb-4">Participant Management | Time &amp; Attendance Tracking | Event Planning | Money Management</p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-4">
    <a href="https://github.com/GatherPack" target="_blank" class="btn btn-primary btn-lg px-4 gap-3">Check Us Out on GitHub</a>
    <a href="https://discord.gg/r3fmNDVn3N" target="_blank" class="btn btn-primary btn-lg px-4 gap-3">Join the Discord Server</a>
  </div>

  <p>
    Once upon a time, <a href="https://brad-thompson.com" target="_blank">some guy</a> started mentoring a <a href="https://westside-robotics.info" target="_blank">FIRST Robotics Competition team</a>. At the time, all of the critical information about what was going on inside the organization, from meeting attendance to fundraising progress, was stored in a few different spreadsheets owned by a couple of different people (this was in the dark days before Google Sheets!) & sticky notes spread across the lead mentor's desk.
  </p>

  <p>
    This was not great. Not only was it easy for things to get lost if a file didn't get saved or a note got knocked off of the desk, but there was no way for the participants to know whether they were meeting the attendance requirements or on the list to go to a competition or anything without asking someone - or, in many cases, a couple of someones - to find that information.
  </p>

  <p>
    Being in the web development business, our hero created a custom web application to replace all of the spreadsheets & sticky notes, and it was good.
  </p>

  <p>
    And then the organization quadrupled in size & scope.
  </p>

  <p>
    Plus, we met other people who would love to have something like this for their community organizations, too. There are other similar-ish tools out there, but they tend to be either incredibly expensive, unnecessarily complicated, or build more around the idea of a passive group - like a membership-driven non-profit that hosts a fundraiser dinner twice a year - than a very active, multi-layered, excited mass of people.
  </p>

  <p>
    So, welcome to our next-generation solution to our organization's information management problems - and hopefully yours, too - GatherPack.
  </p>
</div>

<div class="container">
<iframe data-tally-src="https://tally.so/embed/wQAPeG?alignLeft=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="612" frameborder="0" marginheight="0" marginwidth="0" title="GatherPack Interest Form"></iframe><script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
</div>