<div id="hero">
  <div class="content">
    <div class="logo-bar">
      Get Together with <%= image_tag( 'logo.svg', alt: 'GatherPack', class: 'logo') %> GatherPack
    </div>
    <p class="tagline">Participant Registration | Staff & Volunteer Management | Schedule Planning</p>
  </div>

  <script src='https://sledgehammerinfosystemsllc.myfreshworks.com/crm/sales/web_forms/6653375037664ce8894b899f9fd59ab6bdbc613721317ccb92652af242d493a6/form.js' crossorigin='anonymous' id='fs_6653375037664ce8894b899f9fd59ab6bdbc613721317ccb92652af242d493a6'></script>
</div>