<h1 class="logoline">Get Together with <%= image_tag( 'logo.svg', alt: 'GatherPack', class: 'logo') %> GatherPack</h1>

<%= partial :beta_cta %>

<div class="row align-items-center justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="card-hero m-0">
      <p class="fs-3">
        GatherPack helps busy people-powered groups stay organized without losing their minds. 
        Whether you're juggling events, tracking money, keeping up with members, trying to get everyone on the same page, or all of the above, 
        all that information now has one place to live for everyone in your organization. 
      </p>
    </div>
  </div>

  <div class="col-12 col-md-4 col-lg-6">
    <div class="card m-0">
      <div class="card-header">
        <h2>Happy GatherPack Users</h2>
      </div>
      <div class="card-body">
        <div class="row mx-3 my-3 align-items-center justify-content-center">
          <div class="col-6 col-md-3">
            <a href="https://westside-robotics.info" target="_blank"><img src="/images/westsideRoboticsMark.png" class="logo" alt="Westside Robotics logo"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2>The GatherPack Story</h2>
  </div>
  <div class="card-body">
    <p>
      GatherPack's journey began with <a href="https://boilerinvasion.org" target="_blank">a FIRST Robotics Competition team</a> drowning in spreadsheets and sticky notes.
      In those days, critical information about meeting attendance, fundraising progress, and team logistics was scattered across multiple files, desks, and brains.
      This fragmented system made it challenging for mentors, team members, and parents to keep track of everything they needed to know without going around and asking people.
    </p>

    <p>
      <a href="https://brad-thompson.com" target="_blank">One of the volunteers with the program</a>, a web developer by trade, decided to fix this with a simple little web application.
      This brought all of that operational information together in one place that everyone on the team could access.
    </p>

    <p>
      And now, almost 10 years later, <a href="https://westside-robotics.info" target="_blank">the organization behind that team</a> has basically quadrupled in size &amp; scope - 
      and that original tool has started to show its age and inability to keep up with some of the ways that the organization runs now.
      That same volunteer and a few of the students on the team decided to build a new tool from the ground up,
      built to be more flexible, capable, and robust to handle not only their needs, 
      but the needs of other teams and organizations that have been looking for a tool like this to help keep their groups more organized.
      And we're partnering with said volunteer's <a href="https://sledgehammerinfosystems.com" target="_blank">software &amp; consulting company</a> to provide hosting, implementation, and custom development services too!
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2>Tools &amp; Features</h2>
  </div>
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-4 col-md-2">
        <i class="fa-5x fa-solid fa-person"></i>
      </div>
      <div class="col-8 col-md-4">
        <h3>People</h3>
        Keep track of everyone associated with your organization in one place, whether they have an account in the system or not.
      </div>
      <div class="col-12 col-md-6">
        <div class="row align-items-center my-3">
          <div class="col-8 col-md-6 col-xl-9">
            <h4>Teams</h4>
            Group people together into different teams to manage their access to information and segment communication.
          </div>
          <div class="col-4 col-md-6 col-xl-3">
            <i class="fa-4x fa-duotone fa-solid fa-users"></i>
          </div>
        </div>

        <div class="row align-items-center my-3">
          <div class="col-8 col-md-6 col-xl-9">
            <h4>Managers</h4>
            Grant certain users the ability to manage content, events, and people on their teams.
          </div>
          <div class="col-4 col-md-6 col-xl-3">
            <i class="fa-4x fa-duotone fa-solid fa-user-tie"></i>
          </div>
        </div>

        <div class="row align-items-center my-3">
          <div class="col-8 col-md-6 col-xl-9">
            <h4>Badges</h4>
            Assign badges to people to track their achievements - or just for fun!
          </div>
          <div class="col-4 col-md-6 col-xl-3">
            <i class="fa-4x fa-duotone fa-solid fa-certificate"></i>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row align-items-center">
      <div class="col-4 col-md-2">
        
        <i class="fa-5x fa-solid fa-message"></i>
      </div>
      <div class="col-8 col-md-4">
        <h3>Announcements</h3>
        Post team-specific or site-wide announcements that can be scheduled to appear &amp; disappear as needed.
        
      </div>
      <div class="col-12 col-md-6">
        <div class="row align-items-center my-3">
          <div class="col-8 col-md-6 col-xl-9">
            <h4>Messaging</h4>
            Manage inbound &amp; outbound communications via email, text, Slack, Discord, and more!*
          </div>
          <div class="col-4 col-md-6 col-xl-3">
            <i class="fa-4x fa-duotone fa-solid fa-comments"></i>
          </div>
        </div>

        <div class="row align-items-center my-3">
          <div class="col-8 col-md-6 col-xl-9">
            <h4>Notifications</h4>
            Get automatically notified about anything and everything that you want that happens inside GatherPack. *
          </div>
          <div class="col-4 col-md-6 col-xl-3">
            <i class="fa-4x fa-duotone fa-solid fa-hexagon-exclamation"></i>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row align-items-center">
      <div class="col-4 col-md-2">
        <i class="fa-5x fa-solid fa-money-bill"></i>
      </div>
      <div class="col-8 col-md-4">
        <h3>Finance Tools</h3>
        Simplify your life by tracking your organization's finances in the same place as the rest of your important information.
      </div>
      <div class="col-12 col-md-6">
        <div class="row align-items-center my-3">
          <div class="col-8 col-md-6 col-xl-9">
            <h4>Bookeeping</h4>
            Keep your finances organized with our flexible transaction tagging system.
          </div>
          <div class="col-4 col-md-6 col-xl-3">
            <i class="fa-4x fa-duotone fa-solid fa-file-invoice-dollar"></i>
          </div>
        </div>

        <div class="row align-items-center my-3">
          <div class="col-8 col-md-6 col-xl-9">
            <h4>Payment Processing</h4>
            Directly collect &amp; track payments or donations through GatherPack. *
          </div>
          <div class="col-4 col-md-6 col-xl-3">
            <i class="fa-4x fa-duotone fa-solid fa-hand-holding-dollar"></i>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row align-items-center">
      <div class="col-4 col-md-2">
        <i class="fa-5x fa-solid fa-calendar"></i>
      </div>
      <div class="col-8 col-md-4">
        <h3>Events</h3>
        Get an at-a-glance view of all of the important happenings within your organization, either directly in GatherPack or through your Google Calendar or other calendaring tools.
      </div>
      <div class="col-12 col-md-6">
        <div class="row align-items-center my-3">
          <div class="col-8 col-md-6 col-xl-9">
            <h4>Check-In</h4>
            Let people RSVP to events - and keep track of custom information like volunteer roles or hotel room assignments.
          </div>
          <div class="col-4 col-md-6 col-xl-3 my-3">
            <i class="fa-4x fa-duotone fa-solid fa-calendar-check"></i>
          </div>
        </div>

        <div class="row align-items-center my-3">
          <div class="col-8 col-md-6 col-xl-9">
            <h4>Time Tracking</h4>
            Keep track of people's attendance as they volunteer or work for your organization, either via manual entry or our time clock kiosk.
          </div>
          <div class="col-4 col-md-6 col-xl-3">
            <i class="fa-4x fa-duotone fa-solid fa-user-clock"></i>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row align-items-center">
      <div class="col-4 col-md-2">
        <i class="fa-5x fa-solid fa-laptop-code"></i>
      </div>
      <div class="col-8 col-md-4">
        <h3>Automation</h3>
        Power users can write custom code snippets to automate tasks of all sorts throughout the system.
      </div>
      <div class="col-12 col-md-6">
        <div class="row align-items-center my-3">
          <div class="col-8 col-md-6 col-xl-9">
            <h4>Reports</h4>
            Get custom-built insights into your organization's data.
          </div>
          <div class="col-4 col-md-6 col-xl-3">
            <i class="fa-4x fa-duotone fa-solid fa-file-code"></i>
          </div>
        </div>

        <div class="row align-items-center my-3">
          <div class="col-8 col-md-6 col-xl-9">
            <h4>Actions</h4>
            Allow your users to trigger custom tasks throughout GatherPack.*
          </div>
          <div class="col-4 col-md-6 col-xl-3">
            <i class="fa-4x fa-duotone fa-solid fa-wand-sparkles"></i>
          </div>
        </div>

        <div class="row align-items-center my-3">
          <div class="col-8 col-md-6 col-xl-9">
            <h4>Hooks</h4>
            Run custom actions in response to anything that happens in the system.
          </div>
          <div class="col-4 col-md-6 col-xl-3">
            <i class="fa-4x fa-duotone fa-solid fa-code-pull-request"></i>
          </div>
        </div>
      </div>
    </div>

    <p class="small text-center mt-2 mx-5">
      * Some of these features are still in development and will be available soon!
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2>Built by the Community, for the Community</h2>
  </div>
  <div class="card-body">
    <p>
      GatherPack stands out in the crowded field of organization management software because it's being built by people 
      who are using it on a daily basis to run real organizations.
      There are other similar-ish tools out there, but they tend to be either incredibly expensive, unnecessarily complicated, 
      or built more around the idea of a passive group - like a membership-driven non-profit that hosts a fundraiser dinner twice a year - 
      than a very active, multi-layered, excited mass of people.
    </p>

    <p>
      The core GatherPack platform is free &amp; open source so anybody with a little technical know-how can run this for their organization.
      We are also offering affordable hosting, support, and custom development services through our founder's company, 
      <a href="https://sledgehammerinfosystems.com" target="_blank">Sledgehammer Infosystems</a>
    </p>
  </div>
</div>

<%= partial :beta_cta %>

<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <iframe data-tally-src="https://tally.so/embed/wQAPeG?alignLeft=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="612" frameborder="0" marginheight="0" marginwidth="0" title="GatherPack Interest Form"></iframe><script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
      </div>
    </div>
  </div>
</div>