<h1 class="logoline">Get Together with <%= image_tag( 'logo.svg', alt: 'GatherPack', class: 'logo') %> GatherPack</a></h1>

<p>
  GatherPack is an innovative, open-source software solution designed to help community-focused
  organizations manage their operations.
  From FIRST Robotics teams to churches, community sports leagues, and volunteer groups, GatherPack provides a
  centralized platform to effortlessly handle all the routine aspects of community management.
</p>

<div class="mx-auto text-center">
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-4">
    <a href="https://github.com/GatherPack" target="_blank" class="btn btn-primary btn-lg px-4 gap-3">Check Us Out on GitHub</a>
    <a href="https://discord.gg/r3fmNDVn3N" target="_blank" class="btn btn-primary btn-lg px-4 gap-3">Join the Discord Server</a>
  </div>
</div>

<h2>The GatherPack Story</h2>

<p>
  GatherPack's journey began with a FIRST Robotics Competition team and a mentor drowning in spreadsheets and sticky
  notes.
  In those early days, critical information about meeting attendance, fundraising progress, and team logistics was
  scattered across multiple files, desks, and brains.
  This fragmented system made it challenging to track progress, meet requirements, or know who was attending what events.
</p>

<p>
  Recognizing the need for a better solution, our founder, a web developer by trade, created a custom web application
  to simplify and centralize the chaos.
  This digital solution brought order to the team's operations and improved communication dramatically.
</p>

<p>
  But the story didn't end there.
  As the organization quadrupled in size and scope, the need for a more robust, scalable solution became apparent.
  While other management tools existed, they generally proved to be prohibitively expensive, unnecessarily complicated, or
  designed for more passive groups rather than active, multi-layered, and excited communities.
  So, GatherPack was born - a tool built by community leaders for community leaders.
</p>

<h2>The Power of Centralization</h2>

<p>
  GatherPack serves as your organization's single source of truth, bringing together:
</p>

<ul>
  <li>People &amp; groups</li>
  <li>Incoming & outgoing email handling</li>
  <li>Badge and tag systems</li>
  <li>Event management</li>
  <li>Time tracking</li>
  <li>Payment collection &amp; lightweight bookkeeping capabilities</li>
  <li>Reporting, scripting, and automation capabilities</li>
</ul>

<p>
  By consolidating these functions, GatherPack eliminates the chaos of multiple systems, reducing errors and saving
  valuable time for organizers and volunteers alike.
</p>

<h2>Built by the Community, for the Community</h2>

    <p>
      GatherPack stands out in the crowded field of management software because it's created by people who use it daily.
      This hands-on experience ensures that GatherPack addresses real-world needs of community organizations, making it
      both practical and intuitive.
    </p>

<div class="row">
  <div class="col-md-6">
    <h2>Scalability and Flexibility</h2>

    <p>
      Whether you're managing a small group of 50 or a large organization of 1000+, GatherPack grows with you.
      Its flexible architecture allows for seamless scaling, ensuring that as your community expands, your management
      tools keep pace.
    </p>
  </div>

  <div class="col-md-6">
    <h2>Customization at Your Fingertips</h2>

    <p>
      Every community is unique, and GatherPack embraces this diversity.
      The platform offers extensive customization options, allowing you to tailor the software to your specific needs
      without requiring deep technical expertise.
    </p>
  </div>

  <div class="col-md-6">
  <h2>Open-Source Advantage</h2>

  <p>
    As an open-source solution, GatherPack offers unparalleled transparency and cost-effectiveness.
    Organizations can host their own instances, ensuring complete control over their data and infrastructure.
  </p>
  </div>

  <div class="col-md-6">
  <h2>Data Privacy and Security</h2>

  <p>
    In an era of increasing data concerns, GatherPack takes your information security seriously.
    For organizations opting for the paid hosting service, each client receives a completely isolated server, ensuring
    the highest levels of data protection.
  </p>
  </div>

  <div class="col-md-6">
    <h2>Community-Driven Support and Development</h2>

    <p>
      Join a thriving community of users and developers who continuously contribute to improving GatherPack.
      Benefit from:
    </p>

    <ul>
      <li>Peer support and knowledge sharing</li>
      <li>Regular updates and feature enhancements</li>
      <li>Optional paid services including hosting, consulting, implementation assistance, and custom development</li>
    </ul>
  </div>

  <div class="col-md-6">
    <h2>Affordable and Accessible</h2>

    <p>
      GatherPack believes in making powerful management tools accessible to all communities:
    </p>

    <ul>
      <li>The core product is free and open-source</li>
      <li>Paid hosting services are available at a flat rate for most organizations</li>
      <li>Custom solutions for larger or more complex organizations</li>
    </ul>
  </div>

<h2>Success Stories</h2>

<p>
  Born from real-world experience managing FIRST Robotics teams, GatherPack has a proven track record of streamlining
  operations and fostering growth.
  Organizations using GatherPack's predecessor have successfully scaled from 50 to 300+ members, demonstrating its
  capacity to support thriving communities.
</p>

<p>
  GatherPack is more than just software; it's a catalyst for community growth and engagement.
  By simplifying management tasks, it allows leaders and volunteers to focus on what truly matters - building and
  nurturing their communities.
</p>

<p>
  Ready to transform how you manage your organization? Explore GatherPack today and join the revolution in community
  management.
</p>

<div class="container">
<iframe data-tally-src="https://tally.so/embed/wQAPeG?alignLeft=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="612" frameborder="0" marginheight="0" marginwidth="0" title="GatherPack Interest Form"></iframe><script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
</div>