<div class="logoline">Get Together with <%= image_tag( 'logo.svg', alt: 'GatherPack', class: 'logo') %> GatherPack</a></div>
<div class="col-lg-6 mx-auto text-center">
  <p class="lead mb-4">Participant Management | Time &amp; Attendance Tracking | Event Planning | Money Management</p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a href="https://gitlab.com/gatherpack" target="_blank" class="btn btn-primary btn-lg px-4 gap-3">Check Us Out on Gitlab</a>
  </div>
</div>