<h1 class="logoline">Get Together with <%= image_tag( 'logo.svg', alt: 'GatherPack', class: 'logo') %> GatherPack</a></h1>

<p class="lead mb-4 text-center">Participant Management | Time &amp; Attendance Tracking | Event Planning | Money Management</p>

<div class="mx-auto text-center">
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-4">
    <a href="https://github.com/GatherPack" target="_blank" class="btn btn-primary btn-lg px-4 gap-3">Check Us Out on GitHub</a>
    <a href="https://discord.gg/r3fmNDVn3N" target="_blank" class="btn btn-primary btn-lg px-4 gap-3">Join the Discord Server</a>
    <a href="https://calendly.com/sledgehammer/gatherpack-demo-discussion" target="_blank" class="btn btn-primary btn-lg px-4 gap-3">Schedule a Demo</a>
  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    <h2>The GatherPack Story</h2>
  </div>
  <div class="card-body">
    <p>
      GatherPack's journey began with a FIRST Robotics Competition team drowning in spreadsheets and sticky notes.
      In those days, critical information about meeting attendance, fundraising progress, and 
      team logistics was scattered across multiple files, desks, and brains.
      This fragmented system made it challenging for team members to track progress, meet requirements, keep an eye on the finances,
      or know who was planning on traveling to events without going around and asking people.
    </p>

    <p>
      One of the volunteers with the program, a web developer by trade, decided to fix this with a simple little web application.
      This brought all of that operational information together in one place that everyone on the team could access.
    </p>

    <p>
      And now, almost 10 years later, that organization has basically quadrupled in size &amp; scope - 
      and that original tool is starting to show its age and inability to keep up with some of the ways that the organization runs now.
      That same volunteer - now the executive director of the organization - and a few of the students on the team decided to build a new tool from the ground up,
      built to be more flexible, capable, and robust to handle not only their needs, 
      but the needs of other teams and organizations that have been looking for a tool like this to help keep their groups more organized.
    </p>
  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    Happy GatherPackers
  </div>
  <div class="card-body">
    <div class="row mx-3 my-3">
      <div class="col-4 col-md-2 col-xl-1">
        <a href="https://westside-robotics.info" target="_blank"><img src="/images/westsideRoboticsMark.png" alt="Westside Robotics logo"></a>
      </div>
    </div>
  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    <h2>Tools &amp; Features</h2>
  </div>
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-xl-4">
        <img src="/images/logo.png" alt="GatherPack logo">
      </div>
      <div class="col-12 col-md-6 col-xl-8">
        <h3>People</h3>
        Quickly find &amp; manage individuals associated with your organization, whether they have an account in the system or not.
      </div>
    </div>

    <hr>

    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-xl-4">
        <img src="/images/logo.png" alt="GatherPack logo">
      </div>
      <div class="col-12 col-md-6 col-xl-8">
        <h3>Teams</h3>
        Group people together into different teams to manage their access to information and segment communication.
      </div>
    </div>

    <hr>

    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-xl-4">
        <img src="/images/logo.png" alt="GatherPack logo">
      </div>
      <div class="col-12 col-md-6 col-xl-8">
        <h3>Announcements</h3>
        Post team-specific or site-wide announcements that can be scheduled to appear &amp; disappear as needed.
      </div>
    </div>

    <hr>

    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-xl-4">
        <img src="/images/logo.png" alt="GatherPack logo">
      </div>
      <div class="col-12 col-md-6 col-xl-8">
        <h3>Messaging</h3>
        Manage inbound &amp; outbound communications via email, text, Slack, Discord, and more!
      </div>
    </div>

    <hr>

    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-xl-4">
        <img src="/images/logo.png" alt="GatherPack logo">
      </div>
      <div class="col-12 col-md-6 col-xl-8">
        <h3>Badges</h3>
        Assign badges to people to track achievements - or just for fun!
      </div>
    </div>

    <hr>

    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-xl-4">
        <img src="/images/logo.png" alt="GatherPack logo">
      </div>
      <div class="col-12 col-md-6 col-xl-8">
        <h3>Time Tracking</h3>
        Keep track of people's time as they volunteer or work for your organization, either via manual entry or our time clock kiosk.
      </div>
    </div>

    <hr>

    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-xl-4">
        <img src="/images/logo.png" alt="GatherPack logo">
      </div>
      <div class="col-12 col-md-6 col-xl-8">
        <h3>Finances</h3>
        Help your organization stay on track financially with our simple, yet robust, bookkeeping tools and payment processing integrations.
      </div>
    </div>

    <hr>

    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-xl-4">
        <img src="/images/logo.png" alt="GatherPack logo">
      </div>
      <div class="col-12 col-md-6 col-xl-8">
        <h3>Event Calendar</h3>
        Get an at-a-glance view of all of the important happenings within your organization, either in Gatherpack or through your Google Calendar or other calendaring tools.
      </div>
    </div>

    <hr>

    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-xl-4">
        <img src="/images/logo.png" alt="GatherPack logo">
      </div>
      <div class="col-12 col-md-6 col-xl-8">
        <h3>Event Check-In</h3>
        Let people RSVP to events - with custom fields to manage things like volunteer roles or hotel room assignments.
      </div>
    </div>

    <hr>

    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-xl-4">
        <img src="/images/logo.png" alt="GatherPack logo">
      </div>
      <div class="col-12 col-md-6 col-xl-8">
        <h3>Automation</h3>
        Power users can write custom scripts, reports, and actions to automate tasks of all sorts throughout the system.
      </div>
    </div>

    <hr>
  </div>
</div>

<div class="card mb-5">
  <div class="card-header">
    <h2>Built by the Community, for the Community</h2>
  </div>
  <div class="card-body">
    <p>
      GatherPack stands out in the crowded field of organization management software because it's being built by people 
      who are using it on a daily basis to run real organizations.
      There are other similar-ish tools out there, but they tend to be either incredibly expensive, unnecessarily complicated, 
      or build more around the idea of a passive group - like a membership-driven non-profit that hosts a fundraiser dinner twice a year - 
      than a very active, multi-layered, excited mass of people.
    </p>

    <p>
      The core GatherPack platform is free &amp; open source so anybody with a little technical know-how can run this for their organization.
      We are also offering affordable hosting, support, and custom development services through our founder's company, 
      <a href="https://sledgehammerinfosystems.com" target="_blank">Sledgehammer Infosystems</a>
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2>Get in Touch</h2>
  </div>
  <div class="card-body">

    <p class="lead">
      We are currently looking for <strong><em>beta testers</em></strong>!
      If you're interested in trying this out, we'd love to hear more about your organization and how GatherPack can help!
    </p>

    <div class="row">
      <div class="col-12 col-lg-6">
        <iframe data-tally-src="https://tally.so/embed/wQAPeG?alignLeft=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="612" frameborder="0" marginheight="0" marginwidth="0" title="GatherPack Interest Form"></iframe><script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
      </div>
      <div class="col-12 col-lg-6">
        <a href="https://github.com/GatherPack" target="_blank" class="btn btn-primary btn-lg d-block my-3">Check Us Out on GitHub</a>
        <a href="https://discord.gg/r3fmNDVn3N" target="_blank" class="btn btn-primary btn-lg d-block my-3">Join the Discord Server</a>
        <a href="https://calendly.com/sledgehammer/gatherpack-demo-discussion" target="_blank" class="btn btn-primary btn-lg d-block my-3">Schedule a Demo</a>
      </div>
    </div>
  </div>
</div>
